body {
  font-family: sans-serif;
  background: linear-gradient(#FF1E0E,#FF0048) no-repeat center center fixed;
  height: 100vh;
}
.btnColor {
  background-color: black;
  color: white;
  padding: 7px 17px;
  margin: 5px;
}

/* NAVBAR */
.sc-gqjmRU p {
  margin: 0;
}
.it {
  font-family: 'Cedarville Cursive', cursive;  
  font-size: 1.8rem;  
}

/* HOME */
.boxShadow {
  box-shadow: 5px 5px 35px 7px rgba(0, 0, 0, 0.39);
}
.inputBox {
  border: 1px solid black;
  margin: 2px;
}
.userName {
  color: #E71E14;
  font-family: 'Work Sans', sans-serif;  
  font-size: 2rem;  
}

/* USER FORM */
.newAccount {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Work Sans', sans-serif;
  margin: 50px auto 0 auto;
  border: 1px solid white;
  width: 40vw;
  padding: 15px 0;
}

